<!-- Horizontal-menu -->
<div class="horizontal-main hor-menu clearfix">
  <div class="horizontal-mainwrapper container clearfix">
    <nav class="horizontalMenu clearfix">
      <ul class="horizontalMenu-list">
        <li aria-haspopup="true">
          <a href="#" class="sub-icon">
            <i class="fa fa-cubes"></i>
            ภาพรวม
          </a>
        </li>
        <li aria-haspopup="true">
          <a href="#" class="sub-icon">
            <i class="fa fa-database"></i>
            ฐานข้อมูล&nbsp;<i class="fa fa-angle-down horizontal-icon"></i
          ></a>
          <ul class="sub-menu">
            <li aria-haspopup="true" class="sub-menu-sub active">
              <a href="#">ทั่วไป</a>
              <ul class="sub-menu">
                
                <li>
                  <a routerLink="/base/company/list" class="slide-item">บริษัท</a>
                </li>
                <li>
                  <a routerLink="/base/branch/list" class="slide-item"> สาขา</a>
                </li>
                <li>
                  <a routerLink="/base/division/list" class="slide-item"> ฝ่าย</a>
                </li>
                <li>
                  <a routerLink="/base/department/list" class="slide-item"> แผนก</a>
                </li>
                <li>
                  <a routerLink="/base/position/list" class="slide-item"> ตำแหน่ง</a>
                </li>
                <li>
                  <a routerLink="/base/employee-type/list" class="slide-item">
                    ประเภทพนักงาน</a
                  >
                </li>
              </ul>
            </li>
            <li aria-haspopup="true" class="sub-menu-sub">
              <a href="#">พนักงาน</a>
              <ul class="sub-menu">
                <li>
                  <a routerLink="/base/employee/list" class="slide-item">พนักงาน</a>
                </li>
                <li>
                  <a routerLink="/base/prefix/list" class="slide-item">คำนำหน้าชื่อ</a>
                </li>
              </ul>
            </li>
            <li aria-haspopup="true" class="sub-menu-sub">
              <a href="#">อื่นๆ</a>
              <ul class="sub-menu">
                <li><a href="#">รายการลดหย่อนภาษี</a></li>
                <li><a href="#">โรงพยาบาลประกันสังคม</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li aria-haspopup="true">
          <a href="#" class="sub-icon">
            <i class="fa fa-calendar"></i>
            เวลาทำงาน&nbsp;<i class="fa fa-angle-down horizontal-icon"></i
          ></a>
          <ul class="sub-menu">
            <li aria-haspopup="true" class="sub-menu-sub">
              <a href="#">ตั้งค่า</a>
              <ul class="sub-menu">
                <li>
                  <a href="chart-chartist.html" class="slide-item"
                    >ตั้งค่าเวลา</a
                  >
                </li>
                <li>
                  <a href="chart-morris.html" class="slide-item">
                    กลุ่มเวลาทำงาน</a
                  >
                </li>
                <li>
                  <a href="chart-apex.html" class="slide-item">ตารางงาน</a>
                </li>
                <li>
                  <a href="chart-peity.html" class="slide-item">
                    ข้อมูลปฏิทิน</a
                  >
                </li>
                <li>
                  <a href="chart-echart.html" class="slide-item">
                    ประเภทการลา</a
                  >
                </li>
                <li>
                  <a href="chart-flot.html" class="slide-item">
                    ประเภทลงเวลาทำงาน</a
                  >
                </li>
                <li>
                  <a href="chart-c3.html" class="slide-item">สิทธิการลา</a>
                </li>
                <li>
                  <a href="chart-c3.html" class="slide-item">กลุ่มอีเมล</a>
                </li>
              </ul>
            </li>
            <li aria-haspopup="true" class="sub-menu-sub">
              <a href="#">บันทึกเวลาทำงาน</a>
              <ul class="sub-menu">
                <li><a href="maps.html" class="slide-item">ลงเวลาทำงาน</a></li>
                <li>
                  <a href="maps2.html" class="slide-item">การลา</a>
                </li>
                <li><a href="maps3.html" class="slide-item">ล่วงเวลา</a></li>
                <li>
                  <a href="maps3.html" class="slide-item">ข้อมูลลงเวลา</a>
                </li>
              </ul>
            </li>
            <li aria-haspopup="true" class="sub-menu-sub">
              <a href="#">อื่นๆ</a>
              <ul class="sub-menu">
                <li>
                  <a href="tables.html" class="slide-item">ส่งออกข้อมูล</a>
                </li>
                <li>
                  <a href="datatable.html" class="slide-item">อัพโหลดข้อมูล</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li aria-haspopup="true">
          <a href="#" class="sub-icon">
            <i class="fa fa-pie-chart"></i>
            รายงานลงเวลา&nbsp;<i class="fa fa-angle-down horizontal-icon"></i
          ></a>
          <div class="horizontal-megamenu clearfix">
            <div class="container-fluid">
              <div class="mega-menubg">
                <div class="row">
                  <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                    <ul>
                      <li class="title">รายงาน</li>
                      <li><a href="profile-1.html">Profile 01</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                    <ul>
                      <li class="title">รายงาน</li>
                      <li><a href="profile-1.html">Profile 01</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                    <ul>
                      <li class="title">รายงาน</li>
                      <li><a href="profile-1.html">Profile 01</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                    <ul>
                      <li class="title">รายงาน</li>
                      <li><a href="profile-1.html">Profile 01</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                    <ul>
                      <li class="title">รายงาน</li>
                      <li><a href="profile-1.html">Profile 01</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                    <ul>
                      <li class="title">รายงาน</li>
                      <li><a href="profile-1.html">Profile 01</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                    <ul>
                      <li class="title">รายงาน</li>
                      <li><a href="profile-1.html">Profile 01</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                    <ul>
                      <li class="title">รายงาน</li>
                      <li><a href="profile-1.html">Profile 01</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li aria-haspopup="true">
          <a href="#" class="sub-icon">
            <i class="fa fa-cog"></i>
            Settings&nbsp;<i class="fa fa-angle-down horizontal-icon"></i>
          </a>
          <ul class="sub-menu">
            <li aria-haspopup="true"><a href="icons.html">Font Awesome</a></li>
            <li aria-haspopup="true">
              <a href="icons2.html">Material Design Icons</a>
            </li>
            <li aria-haspopup="true">
              <a href="icons3.html">Simple line Icons</a>
            </li>
            <li aria-haspopup="true">
              <a href="icons4.html">Feather Icons</a>
            </li>
            <li aria-haspopup="true"><a href="icons5.html">Ionic Icons</a></li>
            <li aria-haspopup="true"><a href="icons6.html"> Flag Icons</a></li>
            <li aria-haspopup="true"><a href="icons7.html">pe7 Icons</a></li>
            <li aria-haspopup="true">
              <a href="icons8.html">Themify Icons</a>
            </li>
            <li aria-haspopup="true">
              <a href="icons9.html"> Typicons Icons</a>
            </li>
            <li aria-haspopup="true">
              <a href="icons10.html">Weather Icons</a>
            </li>
            <li aria-haspopup="true">
              <a href="icons11.html">Material Icons</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!--Nav end -->
  </div>
</div>
<!-- Horizontal-menu end -->
