<div class="app-content page-body">
  <div class="container-fluid">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">List Of Deposit</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
              </svg><span class="breadcrumb-icon">Main</span></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Deposit</li>
        </ol>
      </div>
    </div>
    <!--End Page header-->

    <!-- Row -->
    <div class="row">
      <div class="col-12">
        <!--div-->
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col mb-4">
                <div class="card-title">Deposit List</div>
              </div>
              <div class="col col-auto mb-4">
                <div class="form-group w-100">
                  <a routerLink="/warehouse/deposit/form" class="btn btn-primary"><i class="fe fe-plus"></i>New Deposit
                    In</a>
                </div>
              </div>
            </div>
            <div class="">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered text-nowrap key-buttons">
                  <thead>
                    <tr>
                      <th class="border-bottom-0">No.</th>
                      <th class="border-bottom-0">Report ID</th>
                      <th class="border-bottom-0">Date</th>
                      <th class="border-bottom-0">Create BY</th>
                      <th class="border-bottom-0">Status</th>
                      <th class="border-bottom-0">Status By</th>
                      <th class="border-bottom-0">Status At</th>
                      <th class="border-bottom-0">Reason</th>
                      <th class="border-bottom-0">Trans</th>
                      <th class="border-bottom-0">PDF File</th>
                      <th class="border-bottom-0">Management</th>

                    </tr>
                  </thead>
                  <tbody *ngIf="dataRow?.length != 0">
                    <tr *ngFor="let item of dataRow; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.report_id }}</td>
                      <td>{{ item.date }}</td>
                      <td>{{ item.create_by }}</td>
                      <td>{{ item.status }}</td>
                      <td>{{ item.status_by }}</td>
                      <td>{{ item.status_at }}</td>
                      <td>{{ item.reason }}</td>
                      <td>
                        <div *ngIf="item.status == 'Open';">
                          <button type="submit" class="btn btn-icon btn-success" (click)="onEditTran(item)">
                            <i class="fa fa-edit"></i>
                          </button>
                        </div>
                        <div *ngIf="item.status == 'Approved' || item.status == 'Reject';">
                          <button type="submit" class="btn btn-icon btn-info btn-block" (click)="onEditTran(item)">
                           View Trans
                          </button>
                        </div>
                      </td>
                      <td>
                        <div>
                          <button type="submit" class="btn btn-icon btn-danger btn-block" (click)="onViewpdf(item.id)">
                            View PDF
                          </button>
                        </div>
                      </td>

                      <td>
                        <div *ngIf="item.status == 'Open';">
                          <button type="button" class="btn btn-primary btn-block" (click)="onEdit(item)">
                            Action
                          </button>
                        </div>
                        <div *ngIf="item.status == 'Approved';">
                          <button type="button" class="btn btn-green btn-block" disabled>
                            Approved
                          </button>
                        </div>
                        <div *ngIf="item.status == 'Reject';">
                          <button type="button" class="btn btn-danger btn-block" disabled>
                            Reject
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                      <td colspan="11" class="no-data-available">No data!</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--/div-->
      </div>
    </div>
    <!-- /Row -->
  </div>
</div>
<!-- end app-content-->
