<div class="app-content page-body">
    <div class="container-fluid">
        <!--Page header-->
        <div class="page-header">
            <div class="page-leftheader">
                <h4 class="page-title">การจัดการผู้ใช้งาน / สร้างข้อมูลเจ้าหน้าที่</h4>
            </div>
        </div>
        <!--End Page header-->

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">สร้างข้อมูลเจ้าหน้าที่</h3>
                    </div>
                    <div class="card-body">
               
                        <form [formGroup]="officerForm.baseForm" (ngSubmit)="onSaveOfficer()">
                            <div class="row justify-content-center" >
                                <div class="col-md-3 mb-2">
                                    <label>คำนำหน้า</label>
                                    <div class="input-group">
                                        <div class="input-group">
                                            <select class="form-control"  formControlName="prefix_th">
                                                <option value="" selected disabled>เลือกคำนำหน้า (TH)</option>
                                                <option value="นาย">นาย</option>
                                                <option value="นาง">นาง</option>
                                                <option value="นางสาว">นางสาว</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
       
                                <div class="col-md-3 mb-2">
                                    <label>ชื่อ (TH)</label>
                                    <div class="input-group" >
                                        <input type="text" class="form-control" formControlName="fname_th" placeholder="ชื่อ (TH)">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label>นามสกุล (TH)</label>
                                    <div class="input-group" >
                                        <input type="text" class="form-control" formControlName="lname_th" placeholder="นามสกุล (TH)">
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-md-3 mb-2">
                                    <label>Title</label>
                                    <div class="input-group">
                                        <select class="form-control" formControlName="prefix_en">
                                            <option value="" selected disabled>เลือกคำนำหน้า (EN)</option>
                                            <option value="Mr.">Mr.</option>
                                            <option value="Mrs.">Mrs.</option>
                                            <option value="Ms.">Ms.</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label>ชื่อ (EN)</label>
                                    <div class="input-group" >
                                        <input type="text" class="form-control" formControlName="fname_en" placeholder="ชื่อ (EN)">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label>นามสกุล (EN)</label>
                                    <div class="input-group" >
                                        <input type="text" class="form-control" formControlName="lname_en" placeholder="นามสกุล (EN)">
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-md-3 mb-2">
                                    <label>เลขบัตรประชาชน</label>
                                    <div class="input-group" >
                                        <input type="text" class="form-control" formControlName="id_card" placeholder="เลขบัตรประชาชน" maxlength="13">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label>ตำแหน่ง</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="position" placeholder="ตำแหน่ง">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label>อีเมล</label>
                                    <div class="input-group" >
                                        <input type="text" class="form-control" formControlName="email" placeholder="อีเมล">
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-md-3 mb-2">
                                    <label>เลขที่</label>
                                    <div class="input-group" >
                                        <input type="text" class="form-control" formControlName="village" placeholder="บ้านเลขที่">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label>หมู่ที่</label>
                                    <div class="input-group" >
                                        <input type="text" class="form-control" formControlName="village_no" placeholder="หมู่ที่">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label>ซอย</label>
                                    <div class="input-group" >
                                        <input type="text" class="form-control" formControlName="alley" placeholder="ซอย">
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-md-3 mb-2">
                                    <label>ถนน</label>
                                    <div class="input-group" >
                                        <input type="text" class="form-control" formControlName="road" placeholder="ถนน">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label>จังหวัด</label>
                                    <div class="input-group" >
                                        <select class="form-control" formControlName="province" (change)='changProvince($event)'>
                                        <option value="" selected>กรุณาเลือกจังหวัด</option>
                                        <option *ngFor="let item of provinceData" [value]="item.name_th">
                                            {{item.name_th}}
                                        </option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label>อำเภอ/เขต</label>
                                    <div class="input-group" >
                                        <select class="form-control" formControlName="district" (change)='changDistrict($event)'>
                                        <option value="" selected>กรุณาเลือกอำเภอ/เขต</option>
                                        <option *ngFor="let item of districtData" [value]="item.name_th">
                                            {{item.name_th}}
                                        </option>
                                    </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-md-3 mb-2">
                                    <label>ตำบล/แขวง</label>
                                    <div class="input-group" >
                                        <select class="form-control" formControlName="sub_district" (change)='changSubDistrict($event)'>
                                            <option value="" selected>กรุณาเลือกตำบล/แขวง</option>
                                            <option *ngFor="let item of subdistrictData" [value]="item.name_th">
                                                {{item.name_th}}
                                         </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label>รหัสไปรษณีย์</label>
                                    <div class="input-group" >
                                        <input type="text" class="form-control" formControlName="postal_code" placeholder="รหัสไปรษณีย์">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label>เบอร์โทรศัพท์</label>
                                    <div class="input-group" >
                                        <input type="text" class="form-control" formControlName="phone" placeholder="เบอร์โทรศัพท์">
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-md-3 mb-2">
                                    <label>เบอร์โทรศัพท์มือถือ</label>
                                    <div class="input-group" >
                                        <input type="text" class="form-control" formControlName="mobile_phone" placeholder="เบอร์โทรศัพท์มือถือ">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label>รหัสผ่านเข้าระบบ</label>
                                    <div class="input-group" >
                                        <input type="text" class="form-control" formControlName="password" placeholder="รหัสผ่านเข้าระบบ">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <div class="input-group">
                                        <button class="btn btn-success" style="margin-top: 2rem !important;"
                                            id="btnSave" type="submit">บันทึก</button>
                                            <button class="btn btn-secondary mx-2" style="margin-top: 2rem !important;"
                                            id="btnClear" type="button" (click)="onClearData()">ล้างข้อมูล</button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
</div>
<!-- end app-content-->