<div class="app-content page-body">
  <div class="container-fluid">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">Stock control List</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
              </svg><span class="breadcrumb-icon">Main</span></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Stock control List</li>
        </ol>
      </div>
    </div>
    <!--End Page header-->

    <!-- Row -->
    <div class="row">
      <div class="col-12">
        <!--div-->
        <div class="card">
          <div class="card-body">

            <div class="row">
              <div class="col mb-4">
                <div class="card-title">stock control
                </div>
                    <!-- <select style="width: 200px;" class="form-control nice-select select2" (change)="onChangeType($event.target.value)">
                      <option value="" disabled selected>--Select--</option>
                      <option *ngFor="let item of WarehouseData; let i =index" value="{{ item.id }}">{{ item.name }}
                      </option>
                    </select> -->
              </div>

              <div class="col col-auto mb-4">
                <div class="form-group w-100">
                  <a routerLink="/warehouse/stock-control/form" class="btn btn-primary"><i class="fe fe-plus"></i>New Stockcontrol</a>
                </div>
              </div>
            </div>


            <div class="">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions"
                  class="table table-striped card-table table-vcenter text-nowrap mb-0">
                  <thead>
                    <tr>
                      <th class="border-bottom-0">No</th>
                      <th class="border-bottom-0">Item Type</th>
                      <th class="border-bottom-0">Approver</th>
                      <th class="border-bottom-0">Manager</th>
                      <!-- <th class="border-bottom-0">Status</th> -->
                      <th class="border-bottom-0">Create By</th>
                      <th class="border-bottom-0">Update By</th>
                      <th class="border-bottom-0">Create</th>
                      <th class="border-bottom-0">Update</th>
                      <th class="border-bottom-0">ACTION</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="dataRow?.length != 0">
                    <tr *ngFor="let item of dataRow">
                      <td>{{ item.id}}</td>
                      <td>{{ item.item_type.name}}</td>
                      <td>{{ item.user_approver.name}}</td>
                      <td>{{ item.user_manager.name}}</td>
                      <!-- <td>{{ item.status}}</td> -->
                      <td>{{ item.create_by }}</td>
                      <td>{{ item.update_by }}</td>
                      <td>{{ item.created_at }}</td>
                      <td>{{ item.updated_at  }}</td>
                      <td>
                        <div class="btn-list">
                          <button type="button" class="btn btn-icon btn-success" (click)="onEdit(item)">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" (click)="onDelete(item.id)" class="btn btn-icon btn-danger">
                            <i class="fa fa-trash"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                      <td colspan="7" class="no-data-available">No data!</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--/div-->
      </div>
    </div>
    <!-- /Row -->
  </div>
</div>
<!-- end app-content-->
