<div class="app-content page-body">
  <div class="container-fluid">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">BOM</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
              </svg><span class="breadcrumb-icon">MAIN</span></a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/manufacture/bom/list">BOM LIST</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            NEW BOM
          </li>
        </ol>
      </div>
    </div>
    <!--End Page header-->
    <form [formGroup]="bomsForm">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Bom</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-2 formGroup">
                  <label>BOM ID</label>
                  <input type="text" class="form-control" formControlName="bom_id">
                  <label *ngIf="
                  bomsForm.get('bom_id').errors
                    ?.required &&
                  isValidFormSubmitted != null &&
                  !isValidFormSubmitted
                " class="text-danger">
                    BOM ID required.
                  </label>
                </div>
                <div class="col-md-2 col-sm-5 formGroup">
                  <label>BOM NAME</label>
                  <input type="text" class="form-control" formControlName="bom_name">
                  <label *ngIf="
                  bomsForm.get('bom_name').errors
                    ?.required &&
                  isValidFormSubmitted != null &&
                  !isValidFormSubmitted
                " class="text-danger">
                    BOM Name required.
                  </label>
                </div>
                <div class="col-lg-2 col-sm-2">
                  <label>ITEM ID</label>
                  <div class="input-group col-sm-12">
                    <div class="input-group-prepend">
                      <button (click)="openDialog()" class="btn  btn-green btn-block">
                        <i class="fa fa-search"> </i>
                      </button>
                    </div>
                    <input type="text" class="form-control" formControlName="item_id" hidden>
                    <input type="text" class="form-control" formControlName="item_id2" readonly>
                    <div class="col-lg-12">
                      <label *ngIf="
                    bomsForm.get('item_id').errors
                      ?.required &&
                    isValidFormSubmitted != null &&
                    !isValidFormSubmitted
                  " class="text-danger">
                        ITEM ID required.
                      </label>
                    </div>
                  </div>
                </div>



                <div class="col-lg-1 col-sm-2 formGroup">
                  <label>QTY</label>
                  <input type="text" class="form-control" formControlName="qty">
                  <div class="col-lg-12">
                    <label *ngIf="
                    bomsForm.get('qty').errors
                      ?.required &&
                    isValidFormSubmitted != null &&
                    !isValidFormSubmitted
                  " class="text-danger">
                      QTY required.
                    </label>
                  </div>
                </div>
                <div class="col-lg-2 col-sm-2 formGroup ">
                  <label> Unit Convertion</label>
                  <div class="input-group col-sm-12">
                    <div class="input-group-prepend">
                      <button (click)="openDialogUnit()" class="btn  btn-green btn-block">
                        <i class="fa fa-search"> </i>

                      </button>
                    </div>
                    <input type="text" class="form-control" formControlName="unit_convertion_id" hidden placeholder="">
                    <input type="text" class="form-control" formControlName="unit_convertion_name" readonly>
                  </div>
                  <div class="col-lg-12">
                    <label *ngIf="
                  bomsForm.get('unit_convertion_id').errors
                    ?.required &&
                  isValidFormSubmitted != null &&
                  !isValidFormSubmitted
                " class="text-danger">
                      Unit Convertion required.
                    </label>
                  </div>
                </div>
              </div>
              <div class="col text-right">
                <button type="submit" class="btn btn-success" (click)="onSubmit()">
                  Submit
                </button>
              </div>
            </div>
          </div>

          <!-- End Row -->
        </div>
      </div>
    </form>
    <!-- end app-content-->
