<div class="app-content page-body">
  <div class="container-fluid">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">Deposit Form Item Lot</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
              </svg><span class="breadcrumb-icon">Main</span></a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/warehouse/deposit/list">Warehouse</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Deposit</li>
        </ol>
      </div>
    </div>
    <!--End Page header-->
    <form [formGroup]="depositsForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3 col-lg-3">
                  <label class="">Select Date</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24"
                          width="18">
                          <path d="M0 0h24v24H0V0z" fill="none" />
                          <path
                            d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 2v3H4V5h16zM4 21V10h16v11H4z" />
                          <path d="M4 5.01h16V8H4z" opacity=".3" />
                        </svg>
                      </div>
                    </div>
                    <input class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY" type="Date"
                      formControlName="date" required readonly />
                  </div>
                </div>

                <div class="col-md-3 col-lg-3">
                  <label class="">Select Item Type</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24"
                          width="24">
                          <path d="M3 17h18v2H3zm0-7h18v5H3zm0-4h18v2H3z"></path>
                          <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                      </div>
                    </div>
                    <select class="form-control nice-select select2" formControlName="item_type_id"
                      (change)="onChangeType($event.target.value)">
                      <option value="" disabled selected>--Select--</option>
                      <option *ngFor="let ItemType of ItemTypeData; let i = index" value="{{ ItemType.id }}">
                        {{ ItemType.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3 col-lg-3">
                  <label class="">Select item Lot</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                          viewBox="0 0 24 24" width="24">
                          <path d="M0 0h24v24H0z" fill="none"></path>
                          <path
                            d="M20 6h-3V4c0-1.11-.89-2-2-2H9c-1.11 0-2 .89-2 2v2H4c-1.11 0-2 .89-2 2v11c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zM9 4h6v2H9V4zm11 15H4v-2h16v2zm0-5H4V8h3v2h2V8h6v2h2V8h3v6z">
                          </path>
                        </svg></div>
                    </div>
                    <select class="form-control nice-select select2" formControlName="item_lot_id">
                      <option value="" disabled selected>--Select--</option>
                      <option *ngFor="let ItemLot of ItemLotData; let i = index" value="{{ ItemLot.lot_id }}">
                        {{ ItemLot.lot_id }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Row -->
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Deposit Form Item Lot</h3>
            </div>
            <div class="table-responsive">
              <table class="table card-table table-vcenter text-nowrap mb-0" formArrayName="deposit">
                <thead>
                  <tr>
                    <th>ID</th>

                    <th>PART NO. & PART NAME</th>

                    <th>QTY</th>
                    <th>Location</th>
                    <th>Remark</th>

                    <th>Management</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th colspan="5">Add Deposit:</th>
                    <th width="150px">
                      <button type="button" (click)="addDeposit()" class="btn btn-primary">
                        Add More
                      </button>
                    </th>
                  </tr>

                  <tr *ngFor="depo; of: deposit().controls; let i = index" [formGroupName]="i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                      <select class="form-control nice-select select2" formControlName="item_id"
                        (change)="onChange($event.target.value, i)">
                        <option value="" disabled selected>--Select--</option>
                        <option *ngFor="let item of ItemData; let j = index" value="{{ item.id }}">
                          {{ item.id }},{{ item.name }},{{ item.qty }}
                        </option>
                      </select>
                      <label *ngIf="
                        deposit().controls[i].get('item_id').errors
                          ?.required &&
                        isValidFormSubmitted != null &&
                        !isValidFormSubmitted
                      " class="text-danger">
                        Item required.
                      </label>
                    </td>
                    <td>
                      <input type="number" formControlName="qty" class="form-control" />
                      <label *ngIf="
                        deposit().controls[i].get('qty').errors
                          ?.required &&
                        isValidFormSubmitted != null &&
                        !isValidFormSubmitted
                      " class="text-danger">
                        QTY required.
                      </label>
                    </td>
                    <td>
                      <!-- <input type="text" formControlName="location_1_id" class="form-control" value="location_1_id" disabled/> -->
                      <select class="form-control nice-select select2" formControlName="location_1_id">
                        <option value="" disabled selected>--Select--</option>
                        <option *ngFor="let location of LocationData; let i = index" value="{{ location.id }}">
                          {{ location.name }}
                        </option>
                      </select>
                      <label *ngIf="
                        deposit().controls[i].get('location_1_id').errors
                          ?.required &&
                        isValidFormSubmitted != null &&
                        !isValidFormSubmitted
                      " class="text-danger">
                        Location required.
                      </label>
                    </td>
                    <td>
                      <input type="text" formControlName="remark" class="form-control" />
                    </td>

                    <td>
                      <button (click)="removeDeposit(i)" class="btn btn-danger">
                        Remove
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="card-footer">
                <div class="row">
                  <div class="col text-right">
                    <button type="submit" class="btn btn-success">
                      Submit
                    </button>
                  </div>
                </div>
              </div>

              <!-- <br />
              {{ this.depositsForm.value | json }} -->
            </div>

            <!-- table-responsive -->

          </div>
        </div>
      </div>
    </form>
  </div>
</div>