<div class="app-content page-body">
  <div class="container-fluid">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">Delivery Order</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="d-flex"
              ><svg
                class="svg-icon"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 0 24 24"
                width="24"
              >
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path
                  d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"
                />
                <path
                  d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z"
                  opacity=".3"
                /></svg
              ><span class="breadcrumb-icon">Main</span></a
            >
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/warehouse/sale/list">Delivery</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Delivery Order
          </li>
        </ol>
      </div>
    </div>
    <!--End Page header-->

    <!-- Row -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Delivery Order</div>
          </div>
          <div class="table-responsive">
            <form [formGroup]="saleordersForm" (ngSubmit)="onSubmit()">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group row">
                      <div class="col-md-3 col-sm-12">
                        <label class="form-label">Sale Order</label>
                        <select
                          class="form-control nice-select select2"
                          formControlName="sale_order_id"
                          (change)="onChangeOrder($event.target.value)"
                        >
                          <option value="" disabled selected>--Select--</option>
                          <option
                            *ngFor="let sale of SaleList; let i = index"
                            value="{{ sale.id }}"
                          >
                            {{ sale.order_id }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-3 col-sm-12">
                        <label class="form-label">Date</label>
                        <input
                          class="form-control fc-datepicker hasDatepicker"
                          placeholder="MM/DD/YYYY"
                          type="Date"
                          formControlName="date"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table
                    class="table nowrap text-nowrap border mt-5"
                    formArrayName="delevery"
                  >
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th class="w-30">Item Type</th>
                        <th class="w-20">Item</th>
                        <th class="w-20">Item Name</th>
                        <th class="w-10">QTY</th>
                        <th class="w-10">Unit Convertion Id</th>
                        <th class="w-10">Box</th>
                        <th>Add</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th colspan="7">Add Item Order:</th>
                        <!-- <th>
                                          <input type="date" formControlName="date" class="form-control" />
                                        </th>  -->
                        <th width="150px">
                          <button
                            type="button"
                            (click)="addItem()"
                            class="btn btn-primary"
                          >
                            <i class="fe fe-plus"></i>
                          </button>
                        </th>
                      </tr>
                      <tr
                        *ngFor="let item of itemsale().controls; let i = index"
                        [formGroupName]="i"
                      >
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                          <select
                            class="form-control nice-select select2"
                            formControlName="item_type_id"
                            (change)="onChangeType($event.target.value, i)"
                          >
                            <option value="" disabled selected>
                              --Select--
                            </option>
                            <option
                              *ngFor="
                                let ItemType of ItemTypeData;
                                let i = index
                              "
                              value="{{ ItemType.id }}"
                            >
                              {{ ItemType.name }}
                            </option>
                          </select>
                        </td>
                        <td>
                          <select
                            class="form-control nice-select select2"
                            formControlName="item_id"
                            (change)="onChange($event.target.value, i)"
                          >
                            <option value="" disabled selected>
                              --Select--
                            </option>
                            <option
                              *ngFor="let Item of ItemData[i]; let k = index"
                              value="{{ Item.id }}"
                            >
                              {{ Item.name }}
                            </option>
                          </select>
                        </td>
                        <td>
                          <input
                            class="form-control"
                            placeholder=""
                            type="text"
                            formControlName="item_name"
                          />
                        </td>
                        <td>
                          <input
                            class="form-control"
                            placeholder=""
                            type="text"
                            min="0"
                            (keyup)="qtyChanged(i)"
                            formControlName="qty"
                          />
                        </td>
                        <td>
                          <select
                            class="form-control nice-select select2"
                            formControlName="unit_convertion_id"
                            (change)="onChangeUnit($event.target.value, i)"
                          >
                            <option value="" disabled selected>
                              --Select--
                            </option>
                            <option
                              *ngFor="let unit of UnitData[i]; let l = index"
                              value="{{ unit.id }}"
                            >
                              {{ unit.name }} [{{ unit.value }}]
                            </option>
                          </select>
                        </td>
                        <td>
                          <input
                            class="form-control"
                            placeholder=""
                            type="text"
                            min="0"
                            formControlName="box"
                          />
                          <!-- <select
                              class="form-control nice-select select2"
                              formControlName="box"
                            >
                              <option value="" disabled selected>
                                --Select--
                              </option>
                              <option
                                *ngFor="let unit of UnitData[i]; let l = index"
                                value="{{ unit.id }}"
                              >
                                {{ unit.name }} [{{ unit.value }}]
                              </option>
                            </select> -->
                        </td>
                        <td>
                          <button
                            class="btn btn-danger"
                            (click)="removeItem(i)"
                          >
                            <i class="fe fe-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col text-right">
                    <button
                      class="btn btn-success"
                      type="button"
                      (click)="approveOrder(1)"
                    >
                      <i class="fe fe-plus"></i> Approve Order
                    </button>
                    &nbsp;
                    <button
                      class="btn btn-danger"
                      type="button"
                      (click)="approveOrder(0)"
                    >
                      <i class="fe fe-remove"></i> Reject Order
                    </button>
                  </div>
                </div>
              </div>
              <!-- {{ this.saleordersForm.value | json }} -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
