<div class="container-fluid" style="max-height: 60%;">
    <form [formGroup]="bomsForm" (ngSubmit)="onSubmit(bomsForm)">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card-header">
                    <div class="col-lg-12">
                        <h5>CLONE BOM</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 formGroup">
                            <label>BOM ID <small class="text-danger">*NEW</small></label>
                            <input type="text" class="form-control" formControlName="bom_code" >
                        </div>
                        <div class="col-lg-3 formGroup">
                            <label>BOM NAME <small class="text-danger">*NEW</small></label>
                            <input type="text" class="form-control" formControlName="bom_name" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 formGroup">
                            <label>BOM ID</label>
                            <input type="text" class="form-control" formControlName="bom_id_show" readonly>
                        </div>
                        <div class="col-md-2 col-sm-5 formGroup">
                            <label>BOM NAME</label>
                            <input type="text" class="form-control" formControlName="bom_name2" readonly>
                        </div>
                        <div class="col-lg-3 col-sm-2">
                            <label>ITEM ID</label>
                            <div class="input-group col-sm-12">
                                <input type="text" class="form-control" formControlName="item_id" readonly>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-2 formGroup">
                            <label>QTY</label>
                            <input type="text" class="form-control" formControlName="qty" readonly>
                            <div class="col-lg-12">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-2 formGroup ">
                            <label> Unit Convertion</label>
                            <div class="input-group col-sm-12">
                                <input type="text" class="form-control" formControlName="unit_convertion_name" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <button class="btn btn-danger" type="button" (click)="onClose()">CLOSE</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-primary" type="submit" >SAVE</button>
                        </div>
                    </div>
                </div>
                <!-- End footer -->
            </div>
        </div>
    </form>
</div>