<div class="app-content page-body">
  <div class="container-fluid">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">EDIT BOM</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
              </svg><span class="breadcrumb-icon">MAIN</span></a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/manufacture/bom/list">BOM LIST</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            EDIT BOM
          </li>
        </ol>
      </div>
    </div>
    <!--End Page header-->
    <form [formGroup]="bomsForm">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Bom</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-2 formGroup">
                  <label>BOM ID</label>
                  <input type="text" class="form-control" formControlName="bom_id">
                  <label *ngIf="
                  bomsForm.get('bom_id').errors
                    ?.required &&
                  isValidFormSubmitted != null &&
                  !isValidFormSubmitted
                " class="text-danger">
                    BOM ID required.
                  </label>
                </div>
                <div class="col-md-2 col-sm-5 formGroup">
                  <label>BOM NAME</label>
                  <input type="text" class="form-control" formControlName="bom_name">
                  <label *ngIf="
                  bomsForm.get('bom_name').errors
                    ?.required &&
                  isValidFormSubmitted != null &&
                  !isValidFormSubmitted
                " class="text-danger">
                    BOM Name required.
                  </label>
                </div>
                <div class="col-lg-2 col-sm-2">
                  <label>ITEM ID</label>
                  <div class="input-group col-sm-12">
                    <div class="input-group-prepend">
                      <button (click)="openDialog()" class="btn  btn-green btn-block">
                        <i class="fa fa-search"> </i>
                      </button>
                    </div>
                    <input type="text" class="form-control" formControlName="item_id" hidden>
                    <input type="text" class="form-control" formControlName="item_id2" readonly>
                    <div class="col-lg-12">
                      <label *ngIf="
                    bomsForm.get('item_id').errors
                      ?.required &&
                    isValidFormSubmitted != null &&
                    !isValidFormSubmitted
                  " class="text-danger">
                        ITEM ID required.
                      </label>
                    </div>
                  </div>
                </div>



                <div class="col-lg-1 col-sm-2 formGroup">
                  <label>QTY</label>
                  <input type="text" class="form-control" formControlName="qty">
                  <div class="col-lg-12">
                    <label *ngIf="
                    bomsForm.get('qty').errors
                      ?.required &&
                    isValidFormSubmitted != null &&
                    !isValidFormSubmitted
                  " class="text-danger">
                      QTY required.
                    </label>
                  </div>
                </div>
                <div class="col-lg-2 col-sm-2 formGroup ">
                  <label> Unit Convertion</label>
                  <div class="input-group col-sm-12">
                    <div class="input-group-prepend">
                      <button (click)="openDialogUnit()" class="btn  btn-green btn-block">
                        <i class="fa fa-search"> </i>

                      </button>
                    </div>
                    <input type="text" class="form-control" formControlName="unit_convertion_id" hidden placeholder="">
                    <input type="text" class="form-control" formControlName="unit_convertion_name" readonly>
                  </div>
                  <div class="col-lg-12">
                    <label *ngIf="
                  bomsForm.get('unit_convertion_id').errors
                    ?.required &&
                  isValidFormSubmitted != null &&
                  !isValidFormSubmitted
                " class="text-danger">
                      Unit Convertion required.
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Bom Line</h3>
                </div>
                <div class="table-responsive">
                  <table class="table card-table table-vcenter text-nowrap mb-0" formArrayName="bomLine">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>seq</th>
                        <th>ITEM ID</th>
                        <th>Unit Convertion</th>
                        <th>QTY</th>
                        <th>Master ITEM</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!-- <th colspan="7">Add BomLine:</th> -->
                        <th colspan="7"></th>
                        <th width="150px">
                          <button type="button" (click)="addBom()" class="btn btn-primary">
                            Add More
                          </button>
                        </th>
                      </tr>
                      <tr *ngFor="bom; of: bomLine().controls; let i = index" [formGroupName]="i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                          <div>


                            <input type="text" formControlName="seq" class="form-control" placeholder="Sequence" />
                            <div class="col-lg-12">
                              <label *ngIf="
                              bomLine().controls[i].get('seq').errors
                                ?.required &&
                              isValidFormSubmitted != null &&
                              !isValidFormSubmitted
                            " class="text-danger">
                                Sequence required.
                              </label>
                            </div>


                          </div>
                        </td>
                        <td>
                          <div class="input-group col-sm-12">
                            <div class="input-group-prepend">
                              <button (click)="openDialogItemBomline(boms,i)" class="btn btn-green">
                                <i class="fa fa-search"></i>
                              </button>
                            </div>
                            <input type="text" formControlName="item_id" class="form-control" placeholder="ITEM ID"
                              hidden />
                            <input type="text" formControlName="item_id2" class="form-control" placeholder="ITEM ID"
                              readonly />
                          </div>
                          <div class="col-lg-12">
                            <label *ngIf="
                          bomLine().controls[i].get('item_id').errors
                            ?.required &&
                          isValidFormSubmitted != null &&
                          !isValidFormSubmitted
                        " class="text-danger">
                              ITEM required.
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="input-group col-sm-12">
                            <div class="input-group-prepend">
                              <button (click)="openDialogUnitConvertionBomline(boms,i)" class="btn btn-green">
                                <i class="fa fa-search"></i>
                              </button>
                            </div>
                            <input type="text" formControlName="unit_convertion_id" class="form-control"
                              placeholder="Unit Convertion" hidden />
                            <input type="text" formControlName="unit_convertion_name" class="form-control"
                              placeholder="Unit Convertion" readonly />
                          </div>
                          <div class="col-lg-12">
                            <label *ngIf="
                          bomLine().controls[i].get('unit_convertion_id').errors
                            ?.required &&
                          isValidFormSubmitted != null &&
                          !isValidFormSubmitted
                        " class="text-danger">
                              Unit Convertion required.
                            </label>
                          </div>
                        </td>

                        <td>

                          <input type="number" formControlName="qty" class="form-control" placeholder="QTY" />
                          <div class="col-lg-12">
                            <label *ngIf="
                            bomLine().controls[i].get('qty').errors
                              ?.required &&
                            isValidFormSubmitted != null &&
                            !isValidFormSubmitted
                          " class="text-danger">
                              QTY ITEM required.
                            </label>
                          </div>

                        </td>
                        <td>
                          <div class="input-group col-sm-12">
                            <div class="input-group-prepend">
                              <button (click)="openDialogItemBomlineMaster(boms,i)" class="btn btn-green">
                                <i class="fa fa-search"></i>
                              </button>
                            </div>
                            <input type="text" formControlName="master_item_id" class="form-control"
                              placeholder="Master Item" hidden />
                            <input type="text" formControlName="master_item_id2" class="form-control"
                              placeholder="Master Item" readonly />
                          </div>
                          <div class="col-lg-12">
                            <label *ngIf="
                          bomLine().controls[i].get('master_item_id').errors
                            ?.required &&
                          isValidFormSubmitted != null &&
                          !isValidFormSubmitted
                        " class="text-danger">
                              Master ITEM required.
                            </label>
                          </div>

                        </td>

                        <td>
                          <button (click)="removeBom(i)" class="btn btn-danger">
                            Remove
                          </button>
                        </td>
                      </tr>
                      <!-- {{ this.productForm.value | json }} -->
                    </tbody>
                  </table>
                  <div class="col-1">
                    <div class="form-group">
                      <label>Status</label>
                      <div class="material-switch pull-right">
                        <input id="someSwitchOptionPrimary" type="checkbox" formControlName="active">
                        <label for="someSwitchOptionPrimary" class="label-primary"></label>
                      </div>
                    </div>
                  </div>
                  <form [formGroup]="bomApproveForm.baseForm">
                    <div class="card-footer">
                      <div class="row">
                        <div class="col text-right">
                          <button type="submit" class="btn btn-success" (click)="onUpdate()">
                            Submit
                          </button>
                          &nbsp;


                            <button *ngIf="bomsForm.value.status == 'Open'"  class="btn btn-success" type="button" (click)="approveOrder(1)">
                              <i class="fa fa-check"></i> Approve
                            </button>
                            &nbsp;
                            <button *ngIf="bomsForm.value.status == 'Open'" class="btn btn-danger" type="button" data-toggle="modal" data-target="#rejectModal"
                              data-whatever="@mdo">
                              <i class="fa fa-times"></i> Reject
                            </button>


                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- <form [formGroup]="bomApproveForm.baseForm">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Approval Status</h3>
                  </div>
                  <div class="card-body">
                    <div *ngIf="bomsForm.value.status == 'Open'" class="col text-right">
                      <button class="btn btn-success" type="button" (click)="approveOrder(1)">
                        <i class="fa fa-check"></i> Approve
                      </button>
                      &nbsp;
                      <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#rejectModal"
                        data-whatever="@mdo">
                        <i class="fa fa-times"></i> Reject
                      </button>
                    </div>
                    <div *ngIf="bomsForm.value.status == 'Approved'" class="col text-right">
                      <button class="btn btn-success" type="button" disabled>
                        <i class="fa fa-check"></i> Approved
                      </button>
                    </div>
                    <div *ngIf="bomsForm.value.status == 'Cancel'" class="col text-right">
                      <button class="btn btn-danger" type="button" disabled>
                        <i class="fa fa-times"></i> Reject
                      </button>
                    </div>
                    <div *ngIf="bomsForm.value.status == 'Cancel'" class="col text-left col-lg-6">
                      <h3 class="card-title">Reason</h3>
                      <textarea class="form-control" cols="40" rows="5" formControlName="reason" readonly></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form> -->



          <!-- End Row -->
        </div>
      </div>
    </form>

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
              <!-- This is the tree node template for leaf nodes -->
              <!-- There is inline padding applied to this node using styles.
                        This padding value depends on the mat-icon-button width. -->
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                {{node.item.item_id }} &nbsp; &nbsp;
                {{node.item.name }} &nbsp; &nbsp;
                {{node.item.size }} &nbsp; &nbsp;
                QTY: {{node.qty > 0 ? node.qty : 0.00 }}
                {{node.unit_convertion.name}}
                <div class="" *ngIf="!node.bom_name">
                  <span class="btn btn-light btn-sm" (click)="DialogAddBom()">
                    <mat-icon class="mat-icon-rtl-mirror">add</mat-icon>
                  </span>
                  <span class="btn btn-light btn-sm" (click)="DialogEditBom()">
                    <mat-icon class="mat-icon-rtl-mirror">edit</mat-icon>
                  </span>
                  <span class="btn btn-light btn-sm" (click)="DialogDeleteBom()">
                    <mat-icon class="mat-icon-rtl-mirror">delete</mat-icon>
                  </span>
                </div>
              </mat-tree-node>
              <!-- This is the tree node template for expandable nodes -->
              <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <div class="mat-tree-node item-tree">
                  <span mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror item-tree">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </span>
                  <span>
                    {{node.bom_id ? node.bom_id : node.item_id }} &nbsp; &nbsp;
                    {{node.bom_name}} &nbsp; &nbsp; QTY: {{qty > 0 ? qty : 0.00 }}
                  </span>
                  <div class="" *ngIf="!node.bom_name">
                    <span class="btn btn-light btn-sm action">
                      <mat-icon class="mat-icon-rtl-mirror">add</mat-icon>
                    </span>
                    <span class="btn btn-light btn-sm action">
                      <mat-icon class="mat-icon-rtl-mirror">edit</mat-icon>
                    </span>
                    <span class="btn btn-light btn-sm action">
                      <mat-icon class="mat-icon-rtl-mirror">delete</mat-icon>
                    </span>
                  </div>
                </div>
                <!-- There is inline padding applied to this div using styles.
                              This padding value depends on the mat-icon-button width.  -->
                <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
                  <ng-container matTreeNodeOutlet></ng-container>
                </div>

              </mat-nested-tree-node>

            </mat-tree>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end app-content-->

<!-- โมดอล -->
<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">REJECT BOM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="bomApproveForm">
          <div class="form-group">
            <div *ngIf="bomsForm.value.status == 'Open'" class="col text-left">
              <h3 class="card-title">Reason</h3>
              <textarea class="form-control" cols="40" rows="5" formControlName="reason"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="approveOrder(0)">CONFIRM &
          REJECT</button>
      </div>
    </div>
  </div>
</div>
