<div class="app-content page-body">
  <div class="container-fluid">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">Stock Out</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
              </svg><span class="breadcrumb-icon">Main</span></a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/warehouse/withdraw/list">Warehouse</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Stock Out</li>
        </ol>
      </div>
    </div>
    <!--End Page header-->

    <form [formGroup]="withdrawsForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3 col-lg-3">
                  <label>Select Date</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24"
                          width="18">
                          <path d="M0 0h24v24H0V0z" fill="none" />
                          <path
                            d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 2v3H4V5h16zM4 21V10h16v11H4z" />
                          <path d="M4 5.01h16V8H4z" opacity=".3" />
                        </svg>
                      </div>
                    </div>
                    <input class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY" type="Date"
                      formControlName="date" />
                  </div>
                </div>
                <div class="col-md-3 col-lg-3">
                  <label>Select Customer</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24"
                          width="24">
                          <path d="M0 0h24v24H0V0z" fill="none"></path>
                          <path
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM7.07 18.28c.43-.9 3.05-1.78 4.93-1.78s4.51.88 4.93 1.78C15.57 19.36 13.86 20 12 20s-3.57-.64-4.93-1.72zm11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33C4.62 15.49 4 13.82 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.49-1.64 4.83zM12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6zm0 5c-.83 0-1.5-.67-1.5-1.5S11.17 8 12 8s1.5.67 1.5 1.5S12.83 11 12 11z">
                          </path>
                        </svg>
                      </div>
                    </div>
                    <select class="form-control nice-select select2" formControlName="customer_id">
                      <option value="" disabled selected>--Select--</option>
                      <option *ngFor="let customer of CustomerData; let i = index" value="{{ customer.id }}">
                        {{ customer.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      <!-- Row -->
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Withdraw</h3>
            </div>
            <div class="table-responsive">

              <table class="table card-table table-vcenter text-nowrap mb-0" formArrayName="withdraw">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th colspan="2">PART NO. & PART NAME</th>
                    <th>LOT ID</th>
                    <th>Location</th>
                    <th>QTY</th>
                    <th>Remark</th>
                    <th>Management</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th colspan="7">Add Stock Out:</th>
                    <th width="150px">
                      <button type="button" (click)="addWithdraw()" class="btn btn-primary">
                        Add More
                      </button>
                    </th>
                  </tr>

                  <tr *ngFor="let withd of withdraw().controls; let i = index" [formGroupName]="i">
                    <th scope="row">{{ i + 1 }}</th>

                    <td>
                      <div>
                        <input type="text" formControlName="item_part" class="form-control" placeholder="Part No"
                        readonly />
                        <input type="text" formControlName="item_id" class="form-control" placeholder="Part No"
                          hidden />

                      </div>
                    </td>
                    <td>
                      <div>
                        <input type="text" formControlName="item_name" class="form-control" placeholder="Part Name"
                          readonly />
                      </div>

                      <label *ngIf="
                          withdraw().controls[i].get('item_id').errors
                            ?.required &&
                          isValidFormSubmitted != null &&
                          !isValidFormSubmitted
                        " class="text-danger">
                        Item required.
                      </label>
                    </td>
                    <td>
                      <div>
                        <input type="text" formControlName="lot_id" class="form-control" placeholder="Lot No."
                          readonly />
                          <input type="text" formControlName="balance" class="form-control" placeholder="Lot No."
                          hidden />
                          <input type="text" formControlName="trans_id" class="form-control" placeholder="Lot No."
                          hidden />
                      </div>
                    </td>
                    <td>
                      <div>
                        <!-- <input type="text" formControlName="location_1_id" class="form-control" placeholder="Location"
                          hidden />
                        <input type="text" formControlName="location_1_name" class="form-control" placeholder="Location"
                          readonly /> -->
                          <select class="form-control nice-select select2" formControlName="location_1_id">
                            <option value="" disabled selected>--Select--</option>
                            <option *ngFor="let location of LocationData; let i = index" value="{{ location.id }}">
                              {{ location.name }}
                            </option>
                          </select>
                      </div>
                    </td>
                    <td>
                      <div>
                        <input type="text" formControlName="qty" class="form-control" placeholder="QTY" />
                      </div>
                    </td>
                    <td>
                      <div>
                        <input type="text" formControlName="remark" class="form-control" placeholder="Remark" />
                      </div>
                    </td>

                    <td>
                      <button (click)="removeWithdraw(i)" class="btn btn-danger">
                        Remove
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="card-footer">
                <div class="row">
                  <div class="col text-right">
                    <button class="btn btn-success" type="button" (click)="onUpdateTrans()">
                      <i class="fe fe-save"></i> Save
                    </button>
                    &nbsp;
                    <button class="btn btn-success" type="button" (click)="approveWithdraw(1)">
                      <i class="fe fe-plus"></i> Approve
                    </button>
                    &nbsp;
                    <button class="btn btn-danger" type="button" (click)="approveWithdraw(0)">
                      <i class="fe fe-delete"></i> Reject
                    </button>
                  </div>
                </div>
              </div>

            </div>

            <!-- table-responsive -->
            <br />
            <!-- {{ this.withdrawsForm.value | json }} -->
          </div>
        </div>
      </div>
      <!-- End Row -->
    </form>
  </div>
</div>