<div class="container-fluid" style="max-height: 60%;">
    <form [formGroup]="bomLineForm" (submit)="onSubmit(bomLineForm)">
        <div class="row">
            <div class="col-lg-12">
                <h3>ADD CHILD {{ bomName }}</h3>
            </div>
        </div>
        <hr>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 col-sm-6 form-group">
                    <label>MASTER ITEM</label>
                    <div class="input-group col-sm-12">
                        <input type="text" class="form-control" formControlName="name" readonly>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 form-group">
                    <label>CHILD ITEM</label>
                    <div class="input-group col-sm-12">
                        <div class="input-group-prepend">
                            <button (click)="openDialog()" class="btn  btn-green btn-block" type="button">
                                <i class="fa fa-search"> </i>
                            </button>
                        </div>
                        <input type="text" class="form-control" formControlName="name2" readonly>
                    </div>
                </div>
                <div class="col-md-2 form-group">
                    <label>UNIT</label>
                    <div class="input-group col-sm-12">
                        <div class="input-group-prepend">
                            <button (click)="openDialogUnit()" class="btn  btn-green btn-block" type="button">
                                <i class="fa fa-search"> </i>
                            </button>
                        </div>
                        <input class="form-control" formControlName="unit" readonly />
                    </div>
                </div>
                <div class="col-md-2 form-group">
                    <label>QTY</label>
                    <input class="form-control" formControlName="qty" type="number" />
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-danger" type="button" (click)="onclose()">CLOSE</button> &nbsp;&nbsp;
            <button class="btn btn-primary" >SAVE</button>
        </div>
    </form>
</div>