<div class="app-content page-body">
  <div class="container-fluid">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">Bill of material LIST</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
              </svg><span class="breadcrumb-icon">MAIN PAGE</span></a>
          </li>
          <li class="breadcrumb-item"><a href="#">GENERAL</a></li>
          <li class="breadcrumb-item active" aria-current="page">BOM LIST</li>
        </ol>
      </div>
    </div>
    <!--End Page header-->

    <!-- Row -->
    <div class="row">
      <div class="col-12">
        <!--div-->
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col mb-4">
                <div class="card-title">Bill of material</div>
              </div>

              <div class="col col-auto mb-4">
                <div class="form-group w-100">
                  <a routerLink="/manufacture/bom/form" class="btn btn-primary"
                    ><i class="fe fe-plus"></i>NEW BOM</a>
                </div>
              </div>
            </div>

            <div class="">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" id="example"
                  class="table table-striped card-table table-vcenter text-nowrap mb-0">
                  <thead>
                    <tr>
                      <th class="border-bottom-0">No.</th>
                      <th class="border-bottom-0">BOM ID</th>
                      <th style="vertical-align : middle;text-align:center;" class="border-bottom-0">BOM Name
                        NAME</th>
                      <th style="vertical-align : middle;text-align:center;" class="border-bottom-0">ITEM NAME
                      </th>
                      <th style="vertical-align : middle;text-align:center;" class="border-bottom-0">Unit Convertion
                      <th style="vertical-align : middle;text-align:center;" class="border-bottom-0">qty
                      <th style="vertical-align : middle;text-align:center;" class="border-bottom-0">status
                      <th style="vertical-align : middle;text-align:center;" class="border-bottom-0">status by
                      <th style="vertical-align : middle;text-align:center;" class="border-bottom-0">status at
                      <th style="vertical-align : middle;text-align:center;" class="border-bottom-0">Reason
                      <th style="vertical-align : middle;text-align:center;" class="border-bottom-0">Active
                      <th style="vertical-align : middle;text-align:center;" class="border-bottom-0">ACTION
                      </th>
                    </tr>

                  </thead>
                  <tbody>

                    <tr *ngFor="let item of dataRow; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.bom_id }}</td>
                      <td>{{ item.bom_name }}</td>
                      <td>{{ item.item.name }}</td>
                      <td>{{ item.unit_convertion.name }}</td>
                      <td>{{ item.qty }}</td>
                      <td>{{ item.status }}</td>
                      <td>{{ item.status_by }}</td>
                      <td>{{ item.status_at }}</td>
                      <td>{{ item.reason }}</td>
                      <td>
                        <div *ngIf="item.active == '1';"> Active </div>
                        <div *ngIf="item.active == '0';"> Inactive </div>
                      </td>
                      <td>
                        <div class="btn-list">
                          <button type="button" (click)="onEdit(item)" class="btn btn-icon btn-success">
                            <i class="fa fa-edit"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--/div-->
      </div>
    </div>
    <!-- /Row -->
  </div>
</div>
<!-- end app-content-->
