<div class="app-content page-body">
  <div class="container-fluid">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">Company Profile</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
              </svg><span class="breadcrumb-icon"> Main</span></a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/base/company/form">Company</a>
          </li>
        </ol>
      </div>
    </div>
    <!--End Page header-->

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Form Data</h3>
          </div>
          <div class="card-body bg-light">
            <div class="box-widget widget-user">
              <div class="widget-user-image d-sm-flex">
                <div>
                  <img alt="User Avatar" class="rounded-circle border p-0" width="68px" height="68px"
                    [src]="url_logo" />
                </div>
                <div class="mt-4 ml-sm-5 ml-0">
                  <h4 class="pro-user-username text-dark mb-2 font-weight-bold">
                    {{companyForm.baseForm.value.name_th}}
                  </h4>
                  <div>
                    <span class="badge badge-light badge-pill">{{companyForm.baseForm.value.name_th}}</span>
                  </div>
                  <div class="d-flex mb-1 mt-4">
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                      <path d="M0 0h24v24H0V0z" fill="none"></path>
                      <path d="M20 8l-8 5-8-5v10h16zm0-2H4l8 4.99z" opacity=".3"></path>
                      <path
                        d="M4 20h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2zM20 6l-8 4.99L4 6h16zM4 8l8 5 8-5v10H4V8z">
                      </path>
                    </svg>
                    <div class="h6 mb-0 ml-3 mt-1">
                      {{companyForm.baseForm.value.email}}
                    </div>
                  </div>
                  <div class="d-flex">
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                      <path d="M0 0h24v24H0V0z" fill="none"></path>
                      <path
                        d="M15.2 18.21c1.21.41 2.48.67 3.8.76v-1.5c-.88-.07-1.75-.22-2.6-.45l-1.2 1.19zM6.54 5h-1.5c.09 1.32.35 2.59.75 3.79l1.2-1.21c-.24-.83-.39-1.7-.45-2.58zM14 8h5V5h-5z"
                        opacity=".3"></path>
                      <path
                        d="M20 15.5c-1.25 0-2.45-.2-3.57-.57-.1-.03-.21-.05-.31-.05-.26 0-.51.1-.71.29l-2.2 2.2c-2.83-1.44-5.15-3.75-6.59-6.58l2.2-2.21c.28-.27.36-.66.25-1.01C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.5c0-.55-.45-1-1-1zM5.03 5h1.5c.07.88.22 1.75.46 2.59L5.79 8.8c-.41-1.21-.67-2.48-.76-3.8zM19 18.97c-1.32-.09-2.6-.35-3.8-.76l1.2-1.2c.85.24 1.72.39 2.6.45v1.51zM12 3v10l3-3h6V3h-9zm7 5h-5V5h5v3z">
                      </path>
                    </svg>
                    <div class="h6 mb-0 ml-3 mt-1">{{companyForm.baseForm.value.phone}}</div>
                  </div>
                  <div class="social social-profile-buttons mt-4">
                    <ul class="text-center">
                      <li>
                        <a class="social-icon" href=""><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a class="social-icon" href=""><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a class="social-icon" href=""><i class="fa fa-rss"></i></a>
                      </li>
                      <li>
                        <a class="social-icon" href=""><i class="fa fa-youtube"></i></a>
                      </li>
                      <li>
                        <a class="social-icon" href=""><i class="fa fa-linkedin"></i></a>
                      </li>
                      <li>
                        <a class="social-icon" href=""><i class="fa fa-google-plus"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="companyForm.baseForm" (ngSubmit)="onAdd()">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 form-label">Thai Name</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="name_th" class="form-control"
                        value="บริษัท อะซาดะ เคมีคอล จำกัด" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">Tax ID</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="tax_id" value="0105541062640" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">Phone</label>
                    <div class="col-md-9">
                      <input type="text" value="โทรศัพท์: 035-721-686 ต่อ 290" class="form-control"
                        formControlName="phone" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">E-mail</label>
                    <div class="col-md-9">
                      <input type="text" value="asada@gmail.com" formControlName="email" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">Contact Name</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" formControlName="contact" />
                    </div>
                  </div>
                  <div class="custom-file mb-3">
                    <input type="file" (change)='onChange($event)' class="custom-file-input" />
                    <label class="custom-file-label" for="customFile">Company Logo</label>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 form-label">English Name</label>
                    <div class="col-md-9">
                      <input type="text" value="Asada Chemical Co., Ltd." formControlName="name_en"
                        class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">Head office Address</label>
                    <div class="col-md-9">
                      <textarea class="form-control" rows="3" formControlName="address">
129/28 หมู่ 3 ถนนพหลโยธิน ตำบลวังจุฬา อำเภอวังน้อย จังหวัดพระนครศรีอยุธยา 13170</textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">Website</label>
                    <div class="col-md-9">
                      <input class="form-control" type="url" name="url" formControlName="website" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">Map</label>
                    <div class="col-md-9"><input class="form-control" type="url" name="url" formControlName="map" />
                    </div>
                    <label class="col-md-3 form-label"></label>
                    <div class="col-md-9">
                      <iframe id="map-iframe" width="100%" height="100%" frameborder="0"
                      height="500"
                        ></iframe>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 text-center">
                  <div class="form-group mb-0 mt-4 row justify-content-end">
                    <div class="col-md-12">
                      <button type="button" (click)="onAdd()" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Row -->
  </div>
</div>
<!-- end app-content-->
