<div class="app-content page-body">
  <div class="container-fluid">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">Deposit</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
              </svg><span class="breadcrumb-icon">Main</span></a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/warehouse/deposit/list">Warehouse</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Deposit</li>
        </ol>
      </div>
    </div>
    <!--End Page header-->
    <form [formGroup]="depositsForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">

                <div class="col-md-3 col-lg-3">
                  <label>Select Date</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24"
                          width="18">
                          <path d="M0 0h24v24H0V0z" fill="none" />
                          <path
                            d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 2v3H4V5h16zM4 21V10h16v11H4z" />
                          <path d="M4 5.01h16V8H4z" opacity=".3" />
                        </svg>
                      </div>
                    </div>
                    <input class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY" type="Date"
                      formControlName="date" required />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Row -->
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Deposit</h3>
            </div>
            <div class="table-responsive">
              <table class="table card-table table-vcenter text-nowrap mb-0" formArrayName="deposit">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th colspan="2">PART NO. & PART NAME</th>
                    <th>Location</th>
                    <th>QTY</th>
                    <th>Remark</th>
                    <th>Management</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th colspan="6">Add Deposit:</th>
                    <th width="150px">
                      <button type="button" (click)="addDeposit()" class="btn btn-primary">
                        Add More
                      </button>
                    </th>
                  </tr>
                  <tr *ngFor="depo; of: deposit().controls; let i = index" [formGroupName]="i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                      <div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <svg (click)="openDialog(depo,i)" xmlns="http://www.w3.org/2000/svg" height="24px"
                                viewBox="0 0 24 24" width="24px" fill="#000000">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path
                                  d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                              </svg>
                            </div>
                            <input type="text" formControlName="item_part" class="form-control" placeholder="Part No"
                              readonly />
                          </div>
                        </div>
                        <input type="text" formControlName="item_id" class="form-control" placeholder="Part No"
                          hidden />

                      </div>
                    </td>
                    <td>
                      <div>
                        <input type="text" formControlName="item_name" class="form-control" placeholder="Part Name"
                          readonly />
                      </div>

                      <label *ngIf="
                        deposit().controls[i].get('item_id').errors
                          ?.required &&
                        isValidFormSubmitted != null &&
                        !isValidFormSubmitted
                      " class="text-danger">
                        Item required.
                      </label>
                    </td>
                    <td>
                      <!-- <input type="text" formControlName="location_1_id" class="form-control" value="location_1_id" disabled/> -->
                      <select class="form-control nice-select select2" formControlName="location_1_id">
                        <option value="" disabled selected>--Select--</option>
                        <option *ngFor="let location of LocationData; let i = index" value="{{ location.id }}">
                          {{ location.name }}
                        </option>
                      </select>
                      <!-- <div>
                        <input type="text" formControlName="location_1_id" class="form-control" placeholder="Location" readonly/>
                      </div> -->
                      <label *ngIf="
                        deposit().controls[i].get('item_id').errors
                          ?.required &&
                        isValidFormSubmitted != null &&
                        !isValidFormSubmitted
                      " class="text-danger">
                        Location required.
                      </label>
                    </td>
                    <td>

                      <input type="number" formControlName="qty" class="form-control" placeholder="Qty" />
                      <label *ngIf="
                        deposit().controls[i].get('qty').errors
                          ?.required &&
                        isValidFormSubmitted != null &&
                        !isValidFormSubmitted
                      " class="text-danger">
                        QTY required.
                      </label>
                    </td>
                    <td>
                      <input type="text" formControlName="remark" class="form-control" />
                    </td>

                    <td>
                      <button (click)="removeDeposit(i)" class="btn btn-danger">
                        Remove
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="card-footer">
                <div class="row">
                  <div class="col text-right">
                    <button type="submit" class="btn btn-success" >
                      Submit
                    </button>
                  </div>
                </div>
              </div>

            </div>

            <!-- table-responsive -->

          </div>
        </div>
      </div>
      <!--End row-->
    </form>
  </div>
</div>
