<div class="app-content page-body">

  <form [formGroup]="activateForm.baseForm" (ngSubmit)="Activate()">
    <div class="container-fluid">
      <!--Page header-->
      <div class="page-header">
        <div class="page-leftheader">
          <h4 class="page-title">ACTIVATE EMPLOYEE</h4>
        </div>
        <div class="page-rightheader ml-auto d-lg-flex d-none">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                  viewBox="0 0 24 24" width="24">
                  <path d="M0 0h24v24H0V0z" fill="none" />
                  <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                  <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
                </svg><span class="breadcrumb-icon"> MAIN PAGE </span></a>
            </li>
            <li class="breadcrumb-item"><a href="base/employee/request/">REQUEST LIST</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              ACTIVATE EMPLOYEE
            </li>
          </ol>
        </div>
      </div>
      <!--End Page header-->

      <!-- Row -->
      <div class="row">

        <div class="col-xl-12 col-lg-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">REQUEST INFORMATION</div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-sm-12">
                  <div class="text-center mb-5">
                    <h2>PROFILE</h2>
                    <!-- <img  alt="User Avatar" class="rounded-circle mr-3" src="{{ employeeForm.baseForm.value.image }}" /> -->
                  <img *ngIf="activateForm.baseForm.value.image_url !== null" alt="User Avatar" class="rounded-circle mr-3"  style="width: 120px; height:100px; border-radius: 100px;" src="{{ activateForm.baseForm.value.image_url }}" />
                  <img *ngIf="activateForm.baseForm.value.image_url == null" style="width: 120px; height:100px; border-radius: 100px;" src="assets/images/noimage.png">
                  </div>
                  <div class="text-center mb-5">
                    <!-- <h2>Signature</h2>

                  <img *ngIf="employeeForm.baseForm.value.signature_url !== null" alt="User Avatar" class="rounded-circle mr-3"  style="width: 120px; height:100px; border-radius: 100px;" src="{{ employeeForm.baseForm.value.signature_url }}" />
                  <img *ngIf="employeeForm.baseForm.value.signature_url  == null" style="width: 120px; height:100px; border-radius: 100px;" src="assets/images/nosig.png"> -->
                </div>
                <div class="form-group">
                </div>
                  <!-- <div class="form-group">
                  <label class="form-label">Password</label>
                  <input type="password" class="form-control" formControlName="password" placeholder="Password" />
                </div>
                  <div class="form-group">
                    <label class="form-label">Comfirm Password</label>
                    <input type="password" class="form-control" formControlName="confirm_password" placeholder="Comfirm Password" />
                  </div> -->
                  <!-- <div class="form-group">
                  <label class="form-label">Confirm Password</label>
                  <input type="password" class="form-control"  formControlName="password" placeholder="Confirm Password">
                </div> -->
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-12">
                  <div class="form-group">
                    <label class="form-label">USER ID</label>
                    <input type="text" formControlName="user_id" class="form-control" placeholder="User ID" disabled="true" />
                  </div>
                  <div class="form-group">
                    <label class="form-label">EMPLOYEE NAME</label>
                    <input type="text" formControlName="name" class="form-control" placeholder="Employee Name" disabled="true" />
                  </div>
                  <div class="form-group">
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-12">
                  <div class="form-group">
                    <label class="form-label">BRANCH</label>
                    <select class="custom-select" formControlName="branch_id" disabled="true">
                      <option value="" disabled selected>--Select--</option>
                      <option  *ngFor="let item of BranchData; let i =index" value="{{ item.id }}">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="form-label">DEPARTMENT</label>
                    <select class="custom-select" formControlName="department_id" disabled="true">
                      <option value="" disabled selected>--Select--</option>
                      <option  *ngFor="let item of DepartmentData; let i =index" value="{{ item.id }}">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="form-label">POSITION</label>
                    <select class="custom-select" formControlName="position_id" disabled="true">
                      <option value="" disabled selected>--Select--</option>
                      <option  *ngFor="let item of PositionData; let i =index" value="{{ item.id }}">{{ item.name }}</option>
                    </select>
                  </div>
                  <div class="custom-file mb-3">
                    <label class="form-label">ACCOUNT STATUS</label>
                    <select class="custom-select"formControlName="status">
                    <!-- <option *ngIf="employeeForm.baseForm.status == 'Request'">Reqeust</option> -->
                      <option value="Yes">ENABLE</option>
                      <option value="No">DISABLE</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-right">
              <button type="button" (click)=Activate(); class="btn btn-primary">
                SAVE
              </button>
              &nbsp;
              <a href="#" class="btn btn-danger">CLEAR</a>
            </div>
          </div>
        </div>
      </div>

      <!-- End Row-->
    </div>
  </form>
</div>
<!-- end app-content-->
