<div class="app-content page-body">
    <div class="container-fluid">
        <!--Page header-->
        <div class="page-header">
            <div class="page-leftheader">
                <h4 class="page-title">จัดการสิทธิประโยชน์ส่งเสริมป้องกันโรค / กลุ่มบริการ</h4>
            </div>
            <div class="page-rightheader ml-auto d-lg-flex d-none">
            </div>
        </div>
        <!--End Page header-->

        <mat-tab-group animationDuration="1ms">
            <mat-tab label="บริการ">
                <form [formGroup]="benefitform.baseForm" (ngSubmit)="onSubmit1()">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">ข้อมูลการบริการ </h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-label">กลุ่มวัย :
                                            </label>
                                            <div class="col-md-9">
                                                <mat-select formControlName="service_group_id" class="form-control" multiple>
                                                    <mat-option *ngFor="let service of ServiceGroupData" [value]="service.id">
                                                        {{service.name}}</mat-option>
                                                </mat-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-label">ชื่อบริการ :
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" formControlName="name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-label">กลุ่มเป้าหมาย :
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" formControlName="group_taget" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-label">ช่วงอายุ :
                                            </label>
                                            <div class="col-md-9">
                                                <mat-select class="form-control" formControlName="age">
                                                    <mat-option value="1">
                                                        แรกเกิด - 20 ปี
                                                    </mat-option>
                                                    <mat-option value="2">
                                                        20 - 60 ปี
                                                    </mat-option>
                                                </mat-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-label">เพศ :
                                            </label>
                                            <div class="col-md-9">
                                                <mat-select class="form-control" formControlName="sex">
                                                    <mat-option value="1">
                                                        ชาย
                                                    </mat-option>
                                                    <mat-option value="2">
                                                        หญิง
                                                    </mat-option>
                                                    <mat-option value="3">
                                                        กลาง
                                                    </mat-option>
                                                </mat-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-label">กลุ่มโรค :
                                            </label>
                                            <div class="col-md-9">
                                                
                                                <mat-select 
                                                    class="form-control" formControlName="disease_id">
                                                    <mat-option *ngFor="let item of diseaseData" [value]="item.id">
                                                        {{item.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group ">
                                            <div class="custom-controls-stacked">
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input"
                                                    formControlName="pregnant" value="1">
                                                    <span class="custom-control-label" aligh="right">ตั้งครรห์</span>
                                                </label>
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input"
                                                    formControlName="pregnant" value="2">
                                                    <span class="custom-control-label" aligh="right">ไม่ตั้งครรห์</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="form-group ">
                                            <div class="custom-controls-stacked">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 text-center">
                                        <div class="form-group mb-0 mt-4 row justify-content-end">
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-success" (click)="onSubmit1()">
                                                    บันทึก
                                                </button>
                                                &nbsp;
                                                <button type="reset" class="btn btn-secondary">
                                                    ล้างข้อมูล
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </mat-tab>

            <mat-tab label="กิจกรรม"><a routerLink="event/form">Users</a>
                
            </mat-tab>
        </mat-tab-group>
        <!-- End Row -->
    </div>
</div>
<!-- end app-content-->