<div class="app-content page-body">
  <div class="container-fluid">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">ADD Machine</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
              </svg><span class="breadcrumb-icon"> MAIN PAGE </span></a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/manufacture/machine/list">Machine LIST</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            ADD Machine
          </li>
        </ol>
      </div>
    </div>
    <!--End Page header-->

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">ADD Machine FORM</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="machineForm.baseForm" (ngSubmit)="onAdd()">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 form-label"><b style="color: red;">*</b>Machine</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="name" class="form-control" />
                      <div *ngIf="machineForm.name.touched && machineForm.name.invalid">
                        <small *ngIf="machineForm.name.errors.required" class="text-danger">Name is required<br></small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 form-label"><b style="color: red;">*</b>Setup Time (Minute)</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="setup_time" class="form-control" />
                      <div *ngIf="machineForm.setup_time.touched && machineForm.setup_time.invalid">
                        <small *ngIf="machineForm.setup_time.errors.required" class="text-danger">Setup Time is
                          required<br></small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 text-center">
                <div class="form-group mb-0 mt-4 row justify-content-end">
                  <div class="col-md-12">
                    <button type="button" (click)="onAdd()" class="btn btn-primary">
                      SAVE
                    </button>
                    &nbsp;
                    <a routerLink="/manufacture/machine/list" class="btn btn-secondary">
                      Cancel
                    </a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- end app-content-->
