<div class="app-content page-body">
  <div class="container-fluid">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">ADD Job</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
              </svg><span class="breadcrumb-icon"> MAIN PAGE </span></a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/manufacture/job/list">Job LIST</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            ADD Job
          </li>
        </ol>
      </div>
    </div>
    <!--End Page header-->

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">ADD Job FORM</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="jobForm.baseForm">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 form-label"><b style="color: red;">*</b>BOM ID</label>
                    <div class="col-md-9">
                      <div class="input-group col-sm-12">
                        <div class="input-group-prepend">
                          <button (click)="openDialogBom()" class="btn  btn-green btn-block">
                            <i class="fa fa-search"> </i>
                          </button>
                        </div>

                        <input type="text" class="form-control" formControlName="bom_id" hidden>

                        <input type="text" formControlName="bom_id_2" class="form-control" readonly
                          placeholder="BOM ID" />

                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 form-label"><b style="color: red;">*</b>Routing ID</label>
                    <div class="col-md-9">
                      <div class="input-group col-sm-12">
                        <div class="input-group-prepend">
                          <button (click)="openDialogRouting()" class="btn  btn-green btn-block">
                            <i class="fa fa-search"> </i>
                          </button>
                        </div>
                        <input type="text" class="form-control" formControlName="routing_id" hidden placeholder="">
                        <input type="text" class="form-control" formControlName="routing_name" readonly
                          placeholder="Routing ID">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 form-label"><b style="color: red;">*</b>Unit Convertion</label>
                    <div class="col-md-9">
                      <div class="input-group col-sm-12">
                        <div class="input-group-prepend">
                          <button (click)="openDialogUnit()" class="btn  btn-green btn-block">
                            <i class="fa fa-search"> </i>
                          </button>
                        </div>

                        <input type="text" class="form-control" formControlName="unit_convertion_id" hidden
                          placeholder="">
                        <input type="text" class="form-control" formControlName="unit_convertion_name" readonly
                          placeholder="Unit Convertion">
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 form-label"><b style="color: red;">*</b>QTY</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="qty" class="form-control" />

                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 form-label"><b style="color: red;">*</b>Start Date</label>
                    <div class="col-md-9">
                      <div class="input-group" >
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24"
                              width="18">
                              <path d="M0 0h24v24H0V0z" fill="none" />
                              <path
                                d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 2v3H4V5h16zM4 21V10h16v11H4z" />
                              <path d="M4 5.01h16V8H4z" opacity=".3" />
                            </svg>
                          </div>
                        </div>
                        <input class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY" type="Date" formControlName="start_date" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 text-center">
                <div class="form-group mb-0 mt-4 row justify-content-end">
                  <div class="col-md-12">
                    <button type="button" (click)="onAdd()" class="btn btn-primary">
                      SAVE
                    </button>
                    &nbsp;
                    <a routerLink="/manufacture/job/list" class="btn btn-secondary">
                      Cancel
                    </a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- end app-content-->
