<style>
  thead,
  th {
    border: 1px solid #dddddd;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  td {
    border: 1px solid #dddddd;
  }

  tr {
    background-color: #06a6d6;
  }
</style>
<div class="app-content main-content">
  <div class="side-app">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">จัดการสิทธิประโยชน์ส่งเสริมป้องกันโรค / กลุ่มบริการ</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">

      </div>
    </div>
    <!--End Page header-->

    <!-- Row -->
    <div class="row">
      <div class="col-12">
        <!--div-->
        <div class="card">
          <div class="card-body">

            <div>
              <h4 class="page-title">ข้อมูลการค้นหา</h4>
            </div>

            <!-- <mat-form-field class="demo-chip-list">
              <mat-chip-list #chipList>
                <mat-chip
                  *ngFor="let fruit of fruits"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(fruit)">
                  {{fruit}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="New fruit..."
                  #fruitInput
                  [formControl]="fruitCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)"
                />
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                  {{ fruit }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field> -->

            <form [formGroup]="formFillter">
              <div class="row justify-content-center">
                <div class="col-md-2 mb-2">
                  <label for="validationCustomUsername">กลุ่มบริการ</label>
                  <div class="input-group">
                    <mat-form-field class="demo-chip-list">
                      <mat-chip-list #chipList>
                        <mat-chip
                          *ngFor="let fruit of fruits"
                          [selectable]="selectable"
                          [removable]="removable"
                          (removed)="remove(fruit)">
                          {{fruit}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input
                          placeholder="เลือกกลุ่มบริการ"
                          #fruitInput
                          [formControl]="fruitCtrl"
                          [matAutocomplete]="auto"
                          [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur"
                          (matChipInputTokenEnd)="add($event)"
                          formControlName="service_group_id"
                        />
                      </mat-chip-list>
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit.id">
                          {{ fruit.name }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-2 mb-2">
                  <label for="validationCustomUsername">บริการ</label>
                  <div class="input-group">
                    <!-- <mat-select class="form-control" placeholder="ทั้งหมด" formControlName="service_id">
                      <mat-option *ngFor="let item of ServiceData" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select> -->
                    <mat-form-field class="demo-chip-list">
                      <mat-chip-list #chipList>
                        <mat-chip
                          *ngFor="let fruit of fruits"
                          [selectable]="selectable"
                          [removable]="removable"
                          (removed)="remove(fruit)">
                          {{fruit}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input
                          placeholder="เลือกบริการ"
                          #fruitInput
                          [formControl]="fruitCtrl"
                          [matAutocomplete]="auto"
                          [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur"
                          (matChipInputTokenEnd)="add($event)"
                          formControlName="service_group_id"
                        />
                      </mat-chip-list>
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit.id">
                          {{ fruit.name }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-2 mb-2">
                  <label for="validationCustomUsername">ช่วงอายุ</label>
                  <div class="input-group">
                    <mat-select class="form-control" formControlName="age_id">
                      <mat-option *ngFor="let age of AgeData" [value]="age.id">
                        {{age.name}} ปี
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-md-2 mb-2">
                  <div class="input-group">
                    <button class="btn btn-primary" style="margin-top: 2rem !important;" id="btnSearch" type="button"
                      (click)="Onsearch(formFillter)">ค้นหา</button>

                  </div>
                </div>
              </div>
            </form>
            <br />
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col mb-4">
                    <div class="card-title">
                      <h4 class="page-title">รายการทั่วไป</h4>
                    </div>
                  </div>
                  <div class="col col-auto mb-4">
                    <div class="form-group w-100">
                      <a routerLink="/benefit/form" class="btn btn-success" style="width: 150px;"><i
                          class="fe fe-plus"></i> เพิ่ม</a>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" id="example"
                      class="table table-striped card-table table-vcenter text-nowrap mb-0">
                      <thead>
                        <tr>
                          <th class="border-bottom-0">ลำดับ.</th>
                          <th class="border-bottom-0">กลุ่มบริการ</th>
                          <th class="border-bottom-0">บริการ</th>
                          <th class="border-bottom-0">ช่วงอายุ</th>
                          <th class="border-bottom-0">จัดการ</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of dataRow; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td>{{ item.service_group_name }}</td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.age_id }}</td>
                          <!-- <td>{{ item.update_by }}</td>
                          <td>{{ item.created_at }}</td>
                          <td>{{ item.updated_at }}</td> -->
                          <td>
                            <div class="btn-list">
                              <button type="button" (click)="onAddEvent(item.id)" class="btn btn-icon btn-primary">
                                <i class="fa fa-plus"> กิจกรรม</i>
                              </button>
                              <button type="button" (click)="onEdit(item)" class="btn btn-icon btn-success">
                                <i class="fa fa-edit"></i>
                              </button>
                              <button type="button" (click)="onDelete(item.id)" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                      <tbody *ngIf="dataRow?.length == 0">
                        <tr>
                          <td colspan="7" class="no-data-available">No data!</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- <div>Check ค่า: {{ this.formFillter.value | json }}</div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/div-->
      </div>
    </div>
    <!-- /Row -->
  </div>
  <!-- end app-content-->
