<div class="page">
	<div class="page-main">
		<div class="app-content main-content">
			<div class="side-app">
				<div class="row">
					<div class="col-lg-6">
						<div class="card">
							<div class="card-body">
								<ul id="tree1">
									<li><a href="#">FG-01 <i class="fa fa-plus"></i></a>
										<ul>
											<li>PART-01
												<div class="row">
													<div class="col-1">
														QTY
													</div>
													<div class="col-1">
														1
													</div>
													<div class="col-1">
														PCS
													</div>
													<div class="col-9 text-right">
														<a href="javascript:void(0)"> <i class="fa fa-plus"></i> ADD</a>
													</div>
												</div>
												<ul>
													<li>VG-01
														<div class="row">
															<div class="col-1">
																QTY
															</div>
															<div class="col-1">
																100
															</div>
															<div class="col-1">
																G
															</div>
															<div class="col-9  text-right">
															</div>
														</div>
													</li>
												</ul>
											</li>
											<li>RUNNER-01
												<div class="row">
													<div class="col-1">
														QTY
													</div>
													<div class="col-1">
														1
													</div>
													<div class="col-1">
														PCS
													</div>
													<div class="col-9  text-right">
														<a href="javascript:void(0)"> <i class="fa fa-plus"></i> ADD</a>
													</div>
												</div>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--row closed-->
			</div>
		</div><!-- end app-content-->
	</div>
</div>