<div class="app-content page-body">
  <div class="container-fluid">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">Approve Forecast</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
              </svg><span class="breadcrumb-icon">Main</span></a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/warehouse/forecast/list">Forecast List</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Approve Forecast
          </li>
        </ol>
      </div>
    </div>
    <!--End Page header-->

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Approve Forecast</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="approveForm.baseForm">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 form-label">Year</label>
                    <div class="col-md-9">
                      <select class="form-control nice-select select2" formControlName="year">
                        <option value="" disabled selected>--Select--</option>
                        <option *ngFor="let item of YearData.year; let i =index" value="{{ item }}">{{ item }}
                        </option>
                      </select>
                      <div *ngIf="forcashForm.year.touched && forcashForm.year.invalid">
                        <small *ngIf="forcashForm.year.errors.required" class="text-danger">Year is required<br></small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 form-label">FC ID</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="fc_id" class="form-control" disabled />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 form-label">Customer</label>
                    <div class="col-md-9">
                      <select class="form-control nice-select select2" formControlName="customer_id">
                        <option value="" disabled selected>--Select--</option>
                        <option *ngFor="let item of CustomerData; let i =index" value="{{ item.id }}">{{ item.name }}
                        </option>
                      </select>
                      <div *ngIf="forcashForm.customer_id.touched && forcashForm.customer_id.invalid">
                        <small *ngIf="forcashForm.customer_id.errors.required" class="text-danger">Customer is
                          required<br></small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="custom-file mb-3">
                    <input type="file" (change)='onChange($event)' class="custom-file-input" />
                    <label class="custom-file-label" for="customFile">Choose Your File Import</label>
                  </div>
                </div>
              </div> -->
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-md-3 form-label">Please Select</label>
                    <div class="col-md-9">
                      <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" formControlName="status" value="Approved" />
                        <span class="custom-control-label">Approve</span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label"></label>
                    <div class="col-md-9">
                      <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" formControlName="status" value="Open" />
                        <span class="custom-control-label">Open</span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label"></label>
                    <div class="col-md-9">
                      <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" formControlName="status" value="Cancel" />
                        <span class="custom-control-label">Cancel</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 text-center">
                    <div class="form-group mb-0 mt-4 row justify-content-end">
                      <div class="col-md-12">
                        <button type="button" (click)="Approve()" class="btn btn-primary">
                          Submit
                        </button>
                        &nbsp;
                        <a routerLink="/warehouse/forecast/list" class="btn btn-secondary">
                          Back
                        </a>
                        <!-- <div>Check ค่า: {{ this.approveForm.baseForm.value | json }}</div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Row -->
  </div>
</div>
<!-- end app-content-->
