<div class="row" style="padding: 0px;">
  <div class="modal-header col-12">
    <h5 class="modal-title" id="exampleModalLabel">UNIT CONVERTION DIALOG</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">×</span>
    </button>
  </div>


  <!-- <div class="col-md-3 col-lg-3">
    <label>Select Item</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0V0z" fill="none"></path>
            <path d="M5 19h14V8H5v11zm5.55-6v-3h2.91v3H16l-4 4-4-4h2.55z" opacity=".3"></path>
            <path
              d="M16 13h-2.55v-3h-2.9v3H8l4 4zm4.54-7.77l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.16.55L3.46 5.23C3.17 5.57 3 6.02 3 6.5V19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.48-.17-.93-.46-1.27zM6.24 5h11.52l.81.97H5.44l.8-.97zM19 19H5V8h14v11z">
            </path>
          </svg>
        </div>
      </div>
      <select class="form-control nice-select select2" (change)="onChangeItem($event.target.value)">
        <option value="" disabled selected>--Select--</option>
        <option *ngFor="let item of ItemData; let j = index" value="{{item.id}}">
          {{ item.id }},{{ item.name }},{{ item.qty }}
        </option>
      </select>
    </div>
  </div> -->

  <div class="modal-body col-12">
    <form [formGroup]="formFilter">
    <div class="row">
      <div class="col-6">
        <label>Select Item Type</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path d="M5 19h14V8H5v11zm5.55-6v-3h2.91v3H16l-4 4-4-4h2.55z" opacity=".3"></path>
                <path
                  d="M16 13h-2.55v-3h-2.9v3H8l4 4zm4.54-7.77l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.16.55L3.46 5.23C3.17 5.57 3 6.02 3 6.5V19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.48-.17-.93-.46-1.27zM6.24 5h11.52l.81.97H5.44l.8-.97zM19 19H5V8h14v11z">
                </path>
              </svg>
            </div>
          </div>
          <div class="col-sm-8">
            <select class="form-control nice-select select2" (change)="onChangeType($event.target.value)">
              <option value="">--Select--</option>
              <option *ngFor="let ItemType of ItemTypeData; let i = index" value="{{ItemType.id}}" (change)="onChangeType($event.target.value)">
                {{ ItemType.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-6">
        <label>Search</label>
        <div class="input-group">
          <input type="text" (keyup)="onFilter($event)" placeholder="Search" class="form-control">
        </div>
      </div>
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody *ngIf="UnitData?.length != 0" class="table-filter">
            <tr *ngFor="let item of UnitData; let k = index" (dblclick)="onSubmit(item)">
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>{{item.value}}</td>
              <!-- <td>{{item.description}}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
    <div class="modal-footer col-12">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">CLOSE</button>
      <!-- <button type="button" class="btn btn-primary" (click)="onSubmit()">SUBMIT</button> -->
    </div>
  </div>
