<div class="app-content page-body">
  <div class="container-fluid">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">Adjust</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
              </svg><span class="breadcrumb-icon">Main</span></a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/warehouse/adjust/list">Warehouse</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Adjust</li>
        </ol>
      </div>
    </div>
    <!--End Page header-->
    <form [formGroup]="adjustsForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3 col-lg-3">
                  <label>Select Date</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24"
                          width="18">
                          <path d="M0 0h24v24H0V0z" fill="none" />
                          <path
                            d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 2v3H4V5h16zM4 21V10h16v11H4z" />
                          <path d="M4 5.01h16V8H4z" opacity=".3" />
                        </svg>
                      </div>
                    </div>
                    <input class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY" type="Date"
                      formControlName="date" readonly />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- Row -->
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Adjust</h3>
            </div>
            <div class="table-responsive">
              <table class="table card-table table-vcenter text-nowrap mb-0" formArrayName="adjust">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th colspan="2">PART NO. & PART NAME</th>
                    <th>Location1</th>
                    <th>QTY</th>
                    <th>Adjust Status</th>
                    <th>Remark</th>
                    <th>Management</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th colspan="7">Add Adjust:</th>
                    <th width="150px">
                      <button type="button" (click)="addAdjust()" class="btn btn-primary">
                        Add More
                      </button>
                    </th>
                  </tr>
                  <tr *ngFor="let adj of adjust().controls; let i = index" [formGroupName]="i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                      <div>
                        <input type="text" formControlName="item_part" class="form-control" placeholder="Part No"
                          readonly />
                        <input type="text" formControlName="item_id" class="form-control" placeholder="Part No"
                          hidden />
                        <input type="text" formControlName="trans_id" class="form-control" placeholder="Part No"
                          hidden />
                      </div>
                    </td>
                    <td>
                      <div>
                        <input type="text" formControlName="item_name" class="form-control" placeholder="Part No"
                          readonly />
                      </div>
                    </td>
                    <td>
                      <!-- <input type="text" formControlName="location_1_id" class="form-control" value="location_1_id" disabled/> -->
                      <select class="form-control nice-select select2" formControlName="location_1_id">
                        <option value="" disabled selected>--Select--</option>
                        <option *ngFor="let location of LocationData; let i = index" value="{{ location.id }}">
                          {{ location.name }}
                        </option>
                      </select>
                      <label *ngIf="
                          adjust().controls[i].get('location_1_id').errors
                            ?.required &&
                          isValidFormSubmitted != null &&
                          !isValidFormSubmitted
                        " class="text-danger">
                        Adjust Type required.
                      </label>
                    </td>
                    <td>
                      <input type="number" formControlName="qty" class="form-control" numberonly />
                      <input type="number" formControlName="balance" class="form-control" hidden />
                      <label *ngIf="
                          adjust().controls[i].get('qty').errors
                            ?.required &&
                          isValidFormSubmitted != null &&
                          !isValidFormSubmitted
                        " class="text-danger">
                        QTY required.
                      </label>
                    </td>
                    <td>
                      <div >
                        <input type="text" formControlName="status" class="form-control" value="add" disabled/>
                      </div>
                      
                      <!-- <select class="form-control nice-select select2" formControlName="adjust_type">

                        <option value="" disabled selected>--Select--</option>
                        <option value="Add">Add</option>
                        <option value="Remove">Remove</option>

                      </select> -->
                      
                     
                    </td>
                    <td>
                      <input type="text" formControlName="remark" class="form-control" />
                    </td>

                    <td>
                      <button (click)="removeAdjust(i)" class="btn btn-danger">
                        Remove
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="card-footer">
                <div class="row">
                  <div class="col text-right">
                    <button class="btn btn-success" type="button" (click)="onUpdateTrans()">
                      <i class="fe fe-save"></i> Save
                    </button>
                    &nbsp;
                    <button class="btn btn-success" type="button" (click)="approveAdjust(1)">
                      <i class="fe fe-plus"></i> Approve
                    </button>
                    &nbsp;
                    <button class="btn btn-danger" type="button" (click)="approveAdjust(0)">
                      <i class="fe fe-delete"></i> Reject
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- table-responsive -->
          </div>
        </div>
      </div>
      <!-- End Row -->
    </form>
  </div>
</div>